@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url(./day1_ExpandingCards/day1.css);
@import url(./day2_ProgressSteps/day2.css);
@import url(./day3_RotatingNavigation/day3.css);

*{
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

