:root{
    --color-point: rgb(225, 177, 177);
    --color-base: rgb(234, 223, 223);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step_container{
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
}

.step_container:before{
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--color-base);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: -1;
}

.step_bar{
    width: 0%;
    height: 5px;
    background-color: var(--color-point);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: width 0.5s ease-in-out;
}

.step{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid var(--color-base);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.5s ease-in-out; 
}

.step.active{
    border: 5px solid var(--color-point);
}

.btn{
    margin: 10px;
    padding: 10px 30px;
    background-color: var(--color-base);
    border: none;
    border-radius: 5px;
}

.btn:hover{
    transform: scale(1.02);
}
