*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(142, 142, 250), rgb(250, 207, 250) );
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 50px;
    position: relative;
}

.input,
.btn{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: 0;
}

.input{
    background-color: rgba(255, 255, 255, 0.455);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: width 2s ease;
}

.btn{
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.form.active .input{
    width: 300px;
}


